extend ../../layouts/main/layout



block content


  section.section
    .container.container_medium
      h1
        | Современные Комфортные Кухни
        span с пожизненной гарантией
      h2 Тренды дизайна кухни 2020 г.


  section.section
    .container
      .list-offer
        .list-offer__image
          img( src = '../../images/covers/list-offer.jpg' )
          .list-offer__image-thing-1
          .list-offer__image-thing-2
        .list-offer__content
          .list-offer__content-title
            | Максимальное использование пространства
            br
            | и простота в уходе
          .list-offer__content-list
            .list-offer__content-list-item
              | Гладкие, ровные поверхности без ручек
            .list-offer__content-list-item
              | «Умные»‎ материалы фасадов —
              br
              | нет отпечатков и царапин