header
  .container.container_header
    .header

      .header__logo
        img( src = '../../images/logos/company.svg' )

      .header__desc
        | Изготавливаем и устанавливаем
        br
        | кухни в Москве и области с 2004 года

      .header__phone
        .header__phone-master +7 (995) 508-51-17
        .header__phone-slave сейчас работаем