//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------


  $primary: #f3780c;
  $secondary: #0e97e2;
  $tertiary: #1d0036;

  $main-text: #000;
  $main-icon: #3c3c3c;
  $light-text: #6d8693;
  $alternate-text: #7b85ac;

  $light-border: #e6e6ed;

  $light-gray-back: #f6f3f3;
  $main-back: #fff;
  $slide-back: #ebebeb;
  $first-back: #e1e0e0;
  $thrid-back: #dfeef7;
  $copyright-back: #dfdddd;

  $light-border: #eee;



  $main-text_: #fff;

  $main-back_: #000;


//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------