@use 'sass:list';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $blink-shadow-1-start-x: 0px;
  $blink-shadow-1-start-y: 0px;
  $blink-shadow-1-start-blur: 0px;
  $blink-shadow-1-end-x: 0px;
  $blink-shadow-1-end-y: 0px;
  $blink-shadow-1-end-blur: 20px;
  $blink-shadow-1-time: 2s;
  $blink-shadow-1-repeat: 1;


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  .blinks {
    animation: blinks-shadow-1 $blink-shadow-1-time linear infinite;
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Правила анимации
//------------------------------------------------------------------------------------------------------------


  @keyframes blinks-shadow-1 {
    $start: '';
    $end: '';
    @for $i from 1 through $blink-shadow-1-repeat {
      @if ( list.length( $start ) > 1 )
        { $start: $start, $blink-shadow-1-start-x $blink-shadow-1-start-y $blink-shadow-1-start-blur; }
      @else
        { $start: $blink-shadow-1-start-x $blink-shadow-1-start-y $blink-shadow-1-start-blur; }

      @if ( list.length( $end ) > 1 )
        { $end: $end, + $blink-shadow-1-end-x $blink-shadow-1-end-y $blink-shadow-1-end-blur; }
      @else
        { $end: $blink-shadow-1-end-x $blink-shadow-1-end-y $blink-shadow-1-end-blur; }
    }

    0% { text-shadow: $start; }
    50% { text-shadow: $end; }
    100% { text-shadow: $start; }
  }


//------------------------------------------------------------------------------------------------------------
// Правила анимации
//------------------------------------------------------------------------------------------------------------