@use '../functions/maps' as _maps;

@use '../mixins/box-sizing' as *;
@use '../mixins/flex';
@use '../mixins/font';





//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------


  $font-size: 13px;
  $line-height: 16px;
  $font-family: Exo20;
  $font-weight: 100;


  //@include font.include( $font-family, $font-weight );


//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Общие стили
//----------------------------------------------------------------------------------------------------------------------------------------


  * {
    &, &:before, &:after {
      @include box-sizing( border-box );
      outline: none; margin: 0; padding: 0; z-index: 1;
    }

    //@include font.init( $font-family, $font-weight );
    font-size: $font-size;
    line-height: $line-height;
  }


  html { overflow-y: scroll; overflow-x: hidden; position: static; }


  body, html, header, section { @include flex.width( 100vw, auto, auto, none ); }


//----------------------------------------------------------------------------------------------------------------------------------------
// Общие стили
//----------------------------------------------------------------------------------------------------------------------------------------