@use '../mixins/font';
@use '../mixins/transition';





//----------------------------------------------------------------------------------------------------------------------------------------
// Данные
//----------------------------------------------------------------------------------------------------------------------------------------


  $font-family: Roboto;
  $font-weight: normal;
  $font-size: 18px;
  $line-height: 21px;
  $transition: .2s;

  $color: #C1B9B9;
  $hover-color: #FF7905;


  @include font.include( $font-family, $font-weight );


//----------------------------------------------------------------------------------------------------------------------------------------
// Данные
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Стили
//----------------------------------------------------------------------------------------------------------------------------------------


  .link {
    @include transition.many( color, $transition );
    @include font.init( $font-family, $font-weight );
    line-height: $line-height;
    font-size: $font-size;
    color: $color;
    cursor: pointer;

    &:hover { color: $hover-color; }
  }


//----------------------------------------------------------------------------------------------------------------------------------------
// Стили
//----------------------------------------------------------------------------------------------------------------------------------------