@use '../mixins/flex';
@use '../mixins/background';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $image-width: 177px;
  $image-spacing-left: 30px;
  $image-spacing-right: 20px;

  $thing-1-width: 84px;
  $thing-1-height: 66px;
  $thing-1-top: -27px;
  $thing-1-left: 0px;


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  .list-offer {
    @include flex.init;


    // Картинка
    &__image {
      padding-left: $image-spacing-left;
      padding-right: $image-spacing-right;
      width: $image-width + $image-spacing-left + $image-spacing-right;
      position: relative;

      & > img { width: 100%; }
      &-thing {

        // Значек эмблемы
        &-1 {
          @include background.init( url( '../images/misc/award.png' ));
          @include background.size( contain );
          width: $thing-1-width; height: $thing-1-height;
          top: $thing-1-top; left: $thing-1-left;
          display: block; position: absolute;
        }

        &-2 {}
      }
    }


    // Описание
    &__content {
      width: calc( 100% - #{ $image-width + $image-spacing-left + $image-spacing-right });

      &-title {}
      &-list {
        &-item {}
      }
    }
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------