@use '../mixins/line';
@use '../mixins/font';
@use '../mixins/background';





//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------


  $min-width: 20%;
  $height: 46px;
  $line-height: 32px;
  $animation-time: 1.5s;
  $background-size: 20px;

  $padding: ( $height - $line-height ) / 2;
  $outer-border-radius: $height / 2;
  $inner-border-radius: $line-height / 2;

  $outer-background: #fff;
  $inner-image: '../images/misc/progress-bar.png';

  $font-family: MuseoSansCyrillic;
  $font-weight: 300;
  $font-size: 20px;
  $color: #fff;


  @include font.include( $font-family, $font-weight );


//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Стили
//----------------------------------------------------------------------------------------------------------------------------------------


  // Прогресс бар
  .progress-bar {
    border-radius: $outer-border-radius;
    background: $outer-background;
    padding: $padding;
    height: $height;
    width: 100%;

    &__line {
      @include background.init( url( $inner-image ), left, top, repeat, $background-size );
      height: $line-height;
      border-radius: $inner-border-radius;
      min-width: $min-width;
      animation: progress-bar-background-animation $animation-time linear infinite;
    }

    &__title {
      @include font.init( $font-family, $font-weight );
      @include line.clamp( 1, $line-height );
      height: $line-height;
      font-size: $font-size;
      display: block; width: 100%; text-align: center;
      color: $color;
    }
  }


//----------------------------------------------------------------------------------------------------------------------------------------
// Стили
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Правила анимации
//----------------------------------------------------------------------------------------------------------------------------------------


  @keyframes progress-bar-background-animation {
    from { background-position: $background-size 0; }
    to { background-position: 0 0; }
  }


//----------------------------------------------------------------------------------------------------------------------------------------
// Правила анимации
//----------------------------------------------------------------------------------------------------------------------------------------