@use '../functions/maps' as _maps;

@use '../mixins/font';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $styles: (

    h1: (
      font-size: 45px,
      line-height: 54px,
      font-family: MuseoSansCyrillic,
      font-weight: bold,
      text-transform: none,
      color: #000,
      span: (
        new-line: true,
        font-size: 45px,
        line-height: 54px,
        font-family: MuseoSansCyrillic,
        font-weight: bold,
        text-transform: none,
        color: #FF6A05,
      )
    ),

    h2: (
      font-size: 33px,
      line-height: 40px,
      font-family: MuseoSansCyrillic,
      font-weight: 300,
      text-transform: none,
      color: #000,
      title-spacing: 20px
    ),

    h3: (
      font-size: 22px,
      line-height: 26px,
      font-family: MuseoSansCyrillic,
      font-weight: 500,
      text-transform: none,
      color: #000,
      span: (
        new-line: true,
        font-size: 22px,
        line-height: 26px,
        font-family: MuseoSansCyrillic,
        font-weight: 500,
        text-transform: none,
        color: #FF6A05,
      )
    ),

    h4: (
      font-size: 20px,
      line-height: 26px,
      font-family: MuseoSansCyrillic,
      font-weight: 300,
      text-transform: none,
      color: #000,
      span: (
        new-line: true,
        font-size: 20px,
        line-height: 28px,
        font-family: MuseoSansCyrillic,
        font-weight: 600,
        text-transform: none,
        color: #000,
      )
    )
  );


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  @each $tag, $style in $styles {
    @include font.include( _maps.get( $style, font-family ), _maps.get( $style, font-weight ));
    @include font.include( _maps.get( $style, span, font-family ), _maps.get( $style, span, font-weight ));


    @if ( _maps.has-key( $style, title-spacing )) {
      @each $tag-2, $__style__ in $styles {
        #{ $tag-2 }, .#{ $tag-2 } {
          & + #{ $tag }, & + .#{ $tag } {
            margin-top: _maps.get( $style, title-spacing );
          }
        }
      }
    }


    #{ $tag }, .#{ $tag } {
      @include font.init( _maps.get( $style, font-family ), _maps.get( $style, font-weight ));
      font-size: _maps.get( $style, font-size );
      line-height: _maps.get( $style, line-height );
      text-transform: _maps.get( $style, text-transform );
      color: _maps.get( $style, color );

      @if ( _maps.has-key( $style, span )) {
        & > span {
          @include font.init( _maps.get( $style, span, font-family ), _maps.get( $style, span, font-weight ));
          font-size: _maps.get( $style, span, font-size );
          line-height: _maps.get( $style, span, line-height );
          text-transform: _maps.get( $style, span, text-transform );
          color: _maps.get( $style, span, color );

          @if ( _maps.get( $style, span, new-line ))
            { display: block; }
        }
      }

      & > b, & > span > b {
        font-family: inherit; font-style: inherit; font-weight: 900;
        font-size: inherit; line-height: inherit; text-transform: inherit;
        color: inherit;
      }
    }
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------