@use '../functions/maps' as _maps;

@use '../mixins/font';





//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------


  $styles: (
    h1: (
      font-size: 36px,
      line-height: 48px,
      font-family: Exo20,
      font-weight: 100,
      text-transform: none,
      color: #fff,
    )
  );


//------------------------------------------------------------------------------------------------------------
// Данные
//------------------------------------------------------------------------------------------------------------





//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------


  @each $tag, $style in $styles {
    //@include font.include( _maps.get( $style, font-family ), _maps.get( $style, font-weight ));

    #{ $tag }, .#{ $tag } {
      //@include font.init( _maps.get( $style, font-family ), _maps.get( $style, font-weight ));
      font-size: _maps.get( $style, font-size );
      line-height: _maps.get( $style, line-height );
      text-transform: _maps.get( $style, text-transform );
      color: _maps.get( $style, color );
    }
  }


//------------------------------------------------------------------------------------------------------------
// Стили
//------------------------------------------------------------------------------------------------------------