@use 'sass:map';
@use 'sass:list';
@use 'sass:string';
@use '../functions/maps' as _maps;





//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------


  $font-files: (
    Roboto: (
      default: ( 'Roboto-Regular', 'ttf' ),
      default-italic: ( 'Roboto-Italic', 'ttf' ),

      100-normal: ( 'Roboto-Thin', 'ttf' ),
      300-normal: ( 'Roboto-Light', 'ttf' ),
      500-normal: ( 'Roboto-Medium', 'ttf' ),
      700-normal: ( 'Roboto-Bold', 'ttf' ),
      900-normal: ( 'Roboto-Black', 'ttf' ),

      100-italic: ( 'Roboto-ThinItalic', 'ttf' ),
      300-italic: ( 'Roboto-LightItalic', 'ttf' ),
      500-italic: ( 'Roboto-MediumItalic', 'ttf' ),
      700-italic: ( 'Roboto-BoldItalic', 'ttf' ),
      900-italic: ( 'Roboto-BlackItalic', 'ttf' )
    ),

    BebasNeue: (
      default-normal: ( "bebasneueregular", "ttf", "woff" ),

      100-normal: ( "bebasneuethin", "ttf", "woff" ),
      200-normal: ( "bebasneuelight", "ttf", "woff" ),
      300-normal: ( "bebasneuebook", "ttf", "woff" ),

      700-normal: ( "bebasneuebold", "ttf", "woff" )
    ),

    MuseoSansCyrillic: (
      default-normal: ( "MuseoSansCyrl-300", "eot", "ttf", "woff" ),
      default-italic: ( "MuseoSansCyrl-300Italic", "eot", "ttf", "woff" ),

      100-normal: ( "MuseoSansCyrl-100", "eot", "ttf", "woff" ),
      500-normal: ( "MuseoSansCyrl-500", "eot", "ttf", "woff" ),
      700-normal: ( "MuseoSansCyrl-700", "eot", "ttf", "woff" ),
      900-normal: ( "MuseoSansCyrl-900", "eot", "ttf", "woff" ),

      100-italic: ( "MuseoSansCyrl-100Italic", "eot", "ttf", "woff" ),
      500-italic: ( "MuseoSansCyrl-500Italic", "eot", "ttf", "woff" ),
      700-italic: ( "MuseoSansCyrl-700Italic", "eot", "ttf", "woff" ),
      900-italic: ( "MuseoSansCyrl-900Italic", "eot", "ttf", "woff" )
    )
  );


//----------------------------------------------------------------------------------------------------------------------------------------
// Настройки
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Функции
//----------------------------------------------------------------------------------------------------------------------------------------


  // Получить нужную ширину шрифта
  @function get-weight ( $weight: normal ) {
    $weights: (
      default: 400,

      100: 100,
      thin: 100,
      hairline: 100,

      200: 200,
      extra-light: 200,
      ultra-light: 200,
      extralight: 200,
      ultralight: 200,

      300: 300,
      light: 300,

      400: 400,
      normal: 400,
      regular: 400,
      book: 400,

      500: 500,
      medium: 500,

      600: 600,
      semibold: 600,
      demibold: 600,
      semi-bold: 600,
      demi-bold: 600,
      semi: 600,
      demi: 600,

      700: 700,
      bold: 700,

      800: 800,
      extra-bold: 800,
      ultra-bold: 800,
      extrabold: 800,
      ultrabold: 800,

      900: 900,
      black: 900,
      heavy: 900,
    );


    @return _maps.get( $weights, $weight );
  }


  // Получить формат
  @function get-type ( $extension ) {
    $formats: (
      'otf': 'opentype',
      'eot': '',
      'eot?#iefix': 'embedded-opentype',
      'woff': 'woff',
      'woff2': 'woff2',
      'ttf': 'truetype',
    );


    @return _maps.get( $formats, $extension );
  }


  // Получить расширение
  @function get-ext ( $name ) {
    $extensions: (
      'eot': 'eot',
      'otf': 'otf',
      'ie-eot': 'eot?#iefix',
      'woff': 'woff',
      'woff2': 'woff2',
      'ttf': 'ttf',
    );


    @return _maps.get( $extensions, $name );
  }


//----------------------------------------------------------------------------------------------------------------------------------------
// Функции
//----------------------------------------------------------------------------------------------------------------------------------------





//----------------------------------------------------------------------------------------------------------------------------------------
// Миксины
//----------------------------------------------------------------------------------------------------------------------------------------


  // Установить шрифт
  @mixin include ( $family, $weight: 400, $style: normal ) {
    $__weight: get-weight( $weight );
    $__key: $__weight + '-' + $style;
    $__glob_key: $family + '-' + $__key;
    $__data: ();

    $__use_weight: false;
    $__use_style: false;

    @if ( _maps.has-key( $font-files, $family, $__key )) {
      $__data: _maps.get( $font-files, $family, $__key );
      $__use_weight: true;
      $__use_style: true;
    }

    @else if ( _maps.has-key( $font-files, $family, 'default-' + $style )) {
      $__data: _maps.get( $font-files, $family, 'default-' + $style );
      $__use_style: true;
    }

    @else
      { $__data: _maps.get( $font-files, $family, default ); }

    $__file: _maps.get( $__data, 1 );


    @font-face {
      font-family: #{ $family };

      @if ( $__use_weight )
        { font-weight: #{ $__weight }; }

      @if ( $__use_style )
        { font-style: #{ $style }; }

      @for $i from 1 through list.length( $__data ) {
        @if ( $i > 1 ) {
          $__ext: get-ext( _maps.get( $__data, $i ));
          $__format: get-type( $__ext );
          $__format_str: '';
          @if ( string.length( $__format ) > 0 ) { $__format_str: format('#{ $__format }'); }

          src: url( '../fonts/' + $family + '/' + $__file + '.' + $__ext ) #{$__format_str};
        }
      }
    }
  }


  // Подключить шрифт
  @mixin init ( $family, $weight: 400, $style: normal ) {
    font-family: $family;
    font-weight: get-weight( $weight );
    font-style: $style;
  }


//----------------------------------------------------------------------------------------------------------------------------------------
// Миксины
//----------------------------------------------------------------------------------------------------------------------------------------