//----------------------------------------------------------------------------------------------------------------------------------------
// Миксины
//----------------------------------------------------------------------------------------------------------------------------------------


  // Инициализировать Flex блок
  @mixin init ( $image: none, $pos_x: center, $pos_y: center, $repeat: no-repeat, $size: contain ) {
    @include image( $image );
    @include position( $pos_x, $pos_y );
    @include repeat( $repeat );
    @include size( $size );
  }


  // Картинка
  @mixin image ( $image: none ) {
    @if ( $image != none ) {
      -webkit-mask-image: $image;
      mask-image: $image;
    }
  }


  // Позиция
  @mixin position ( $pos_x: center, $pos_y: center ) {
    -webkit-mask-position-x: $pos_x;
    -webkit-mask-position-y: $pos_y;
    mask-position: $pos_x $pos_y;
  }


  // Повторение
  @mixin repeat ( $repeat: no-repeat ) {
    -webkit-mask-repeat: $repeat;
    mask-repeat: $repeat;
  }


  // Размер
  @mixin size ( $size: contain ) {
    -webkit-mask-size: $size;
    mask-size: $size;
  }


//----------------------------------------------------------------------------------------------------------------------------------------
// Миксины
//----------------------------------------------------------------------------------------------------------------------------------------